{% extends 'MainBundle:Frontend/Layout:layout.html.twig' %}

{% block metas %}{% include 'WHSeoBundle:Element:metas.html.twig' with {'entity' : post} %}{% endblock %}

{% block main %}

    <h1>{{ post.title }}</h1>
    {{ post.body | raw }}

{% endblock %}
